.custom-login-wrapper {
    background-color: #F7FAFC;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    position: fixed;

    .login-container {
        width: 700px;
        height: 400px;
        margin: 10% auto 0 auto;
        border-radius: 10px;
        background: white;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
        position: relative;
        overflow: hidden;

        .clr-form-control {
            margin-top: 10px;

            .app-form-control {
                width: 100%;
            }
        }

        clr-password-container {
            margin-top: 10px !important;
            width: auto !important;
            display: block !important;

            .app-form-control {
                .clr-input-group {
                    max-height: 40px !important;
                    height: 40px !important;
                    position: relative !important;
                    padding: 0 !important;
                    max-width: 100% !important;
                    width: 100% !important;
                    border-bottom: none;
                    background-color: transparent;

                    &.clr-focus {
                        border: none;
                        background: transparent;
                    }

                    .clr-input-group-icon-action {
                        position: absolute;
                        top: 7px;
                        right: 0;
                    }
                }
            }
        }

        .lateral-image {
            width: calc(50% - 10px);
            height: 100%;
            float: left;
            background-image: url("../../../assets/images/livros.jpg");
            background-repeat: no-repeat;
            background-position: right center;
            border-radius: 10px;
        }

        svg.blank {
            width: 65px;
            color: white;
            fill: currentColor;
            right: 356px;
            position: absolute;
            height: 125%;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .main-form {
            width: 50%;
            float: right;
            padding: 20px 50px 20px 20px;
            margin-top: 10px;

            h5 {
                margin: 10px 0 22px 0;
            }
        }
    }
}

@media (max-width: 800px) {
    .custom-login-wrapper {
        .lateral-image {
            display: none;
        }

        .main-form {
            width: 100% !important;
        }

        .login-container {
            width: calc(100% - 20px) !important;
            margin: 10% 10px 0 10px;
        }

        svg {
            display: none;
        }
    }
}
