<div class="custom-login-wrapper">
    <div class="login-container clr-clearfix">
        <div class="lateral-image"></div>
        <svg class="blank" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
            <polygon points="0,0 100,100 100,0"></polygon>
        </svg>
        <form class="main-form" [formGroup]="payload" (ngSubmit)="submit()">
            <section class="title">
                <h3 class="welcome">Biblioteca</h3>
                <h5 class="hint">Use suas credenciais para fazer login</h5>
            </section>
            <div class="login-group">
                <clr-input-container>
                    <label>Usuário</label>
                    <input class="app-form-control" type="email" name="email" clrInput placeholder="Usuário" formControlName="login"/>
                </clr-input-container>
                <clr-password-container>
                    <label>Senha</label>
                    <input class="app-form-control" id="login-password" type="password" name="password" clrPassword placeholder="Senha" formControlName="password"/>
                </clr-password-container>
                <button type="submit" class="btn btn-primary m-t-20 clr-float-xs-right">Entrar Agora</button>
            </div>
        </form>
    </div>
</div>
