<clr-main-container>
    <header class="header-6">
        <div class="branding">
            <a href="javascript://" class="nav-link">
                <span class="title">Biblioteca</span>
            </a>
        </div>
        <div class="header-actions">
            <clr-dropdown>
                <button class="nav-text" clrDropdownTrigger aria-label="open user profile">
                    {{userLogged.name}}
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                    <a href="javascript://" (click)="logout()" clrDropdownItem>
                        <clr-icon class="is-solid" shape="logout"></clr-icon>
                        Sair
                    </a>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</clr-main-container>
