<form *ngIf="payload" [formGroup]="payload" (ngSubmit)="submit()" class="clr-form">
    <div class="card">
        <div class="card-header clr-clearfix">
            <h3>{{id ? 'Editando' : 'Cadastrando'}}</h3>
            <button type="button" class="btn btn-link" [routerLink]="['/library']">
                <clr-icon shape="undo" class="is-solid"></clr-icon>
                Voltar
            </button>
        </div>
        <div class="card-block">
            <div class="clr-row">
                <div class="clr-col-12">
                    <clr-input-container>
                        <label class="app-required">Título</label>
                        <input clrInput class="app-form-control" type="text" placeholder="Título" formControlName="title"/>
                    </clr-input-container>
                </div>
                <div class="clr-col-12">
                    <clr-textarea-container>
                        <label class="app-required">Resumo</label>
                        <textarea clrTextarea class="app-form-control" formControlName="resume" placeholder="Resumo"></textarea>
                    </clr-textarea-container>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button [clrLoading]="submitButtonState" [disabled]="!this.payload.valid" type="submit" class="btn btn-success">
                <clr-icon shape="check-circle" class="is-solid"></clr-icon>
                Salvar
            </button>
            <button type="button" class="btn btn-link" [routerLink]="['/library']">
                <clr-icon shape="ban"></clr-icon>
                Cancelar
            </button>
        </div>
    </div>
</form>
