<div class="clr-row">
    <div class="clr-col-6">
        <h1>Listagem de livros</h1>
    </div>
    <div *if-admin="true" class="clr-col-6">
        <button [routerLink]="['/library/books/manipulate']" style="margin-top: 15px;" class="btn btn-primary clr-float-sm-right">Novo Livro</button>
    </div>
</div>
<div class="clr-row">
    <div *ngFor="let book of books" class="clr-col-lg-4 clr-col-md-6 clr-col-12">
        <div class="card">
            <div class="card-header">
                {{book.title}}
            </div>
            <div class="card-block">
                <div class="card-text">
                    {{book.resume}}
                </div>
            </div>
            <div class="card-footer">
                <button [routerLink]="['/library/books', book.id]" class="btn btn-sm btn-link">Mais Detalhes</button>
                <a *if-admin="true" (click)="destroy(book)" class="btn btn-sm btn-danger clr-float-sm-right">
                    Apagar
                </a>
                <a *if-admin="true" [routerLink]="['/library/books/manipulate', book.id]" class="btn btn-sm btn-primary clr-float-sm-right">
                    Editar
                </a>
            </div>
        </div>
    </div>
</div>
