@each $i in $colors {

    .btn.btn-#{nth($i, 1)} {
        outline: none;
        border-color: nth($i, 2);
        background-color: nth($i, 2);
        color: lighten(map_get($colors, light), 10);

        &:hover {
            outline: none;
            border-color: nth($i, 2);
            background-color: darken(nth($i, 2), 5);
            color: lighten(map_get($colors, light), 10);
        }
    }

    .btn.btn-#{nth($i, 1)}-outline {
        outline: none;
        color: nth($i, 2);
        border-color: nth($i, 2);
        background-color: lighten(map_get($colors, light), 5);

        &:hover {
            outline: none;
            color: nth($i, 2);
            border-color: nth($i, 2);
            background-color: lighten(map_get($colors, light), 4);
        }
    }

    clr-icon.app-icon-#{nth($i, 1)} {
        color: nth($i, 2);
    }

}

.btn.btn-light {
    color: map_get($colors, dark);

    &:hover {
        color: map_get($colors, dark);
    }
}
