<div *ngIf="book" class="clr-row">
    <div class="clr-col-12">
        <button [routerLink]="['/library']" class="btn btn-light">voltar</button>
    </div>
    <div class="clr-col-12">
        <table class="table table-vertical m-t-10 m-b-10">
            <tbody>
                <tr>
                    <th class="text-center" colspan="2">
                        <h3 style="margin-top: 0;">{{book.title}}</h3>
                    </th>
                </tr>
                <tr>
                    <td style="font-weight: normal;">{{book.resume}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-12">
        <form [formGroup]="commentPayload" (ngSubmit)="submitComment()">
            <div class="card">
                <div class="card-header">
                    Adicionar Comentário
                </div>
                <div class="card-block">
                    <div class="card-text">
                        <textarea name="comment" placeholder="Comentário" formControlName="comment"></textarea>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">
                        Salvar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-12">
        <div *ngFor="let comment of comments" class="card">
            <div class="card-header">
                {{comment.user?.name}} - {{comment.created_at | date:"dd/MM/YY HH:ss"}}
            </div>
            <div class="card-block">
                <div class="card-text">
                    {{comment.comment}}
                </div>
            </div>
        </div>
    </div>
</div>
