textarea[name="comment"] {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    padding: 10px;
}

textarea[name="comment"]:focus {
    border: 1px solid #087BB8;
}

textarea[name="comment"].ng-invalid.ng-touched {
    border: 1px solid #C0392B;
}
